html {
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
    background: -webkit-radial-gradient(circle, #fff, #ccc);
    background: -o-radial-gradient(circle, #fff, #ccc);
    background: -moz-radial-gradient(circle, #fff, #ccc);
}

#container {
    height: 600px;
    width: 750px;
    background-color: skyblue;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 40px 0px skyblue;
    -moz-box-shadow: 0px 4px 40px 0px skyblue;
    -webkit-box-shadow: 0px 4px 40px 0px skyblue;
    position: relative;
}

#score {
    background-color: #F1FF92;
    color: #888E5F;
    padding: 11px;
    position: absolute;
    left: 700px;
    box-shadow: 0px 4px 2px;
    -moz-box-shadow: 0px 4px 2px;
    -webkit-box-shadow: 0px 4px 2px;
}

#fruitscontainer {
    height: 400px;
    width: 650px;
    position: relative;
    margin: 0px auto 10px auto;
    background-color: white;
    box-shadow: 0px 4px 0px #535aa8;
    -webkit-box-shadow: 0px 4px 0px #535aa8;
    -moz-box-shadow: 0px 4px 0px #535aa8;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    overflow: hidden;
}

#instructionsbox {
    width: 450px;
    height: 50px;
    background-color: mediumslateblue;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px 2px purple;
    -moz-box-shadow: 0px 4px 2px purple;
    -webkit-box-shadow: 0px 4px 2px purple;
    font-size: 17px;
    font-family: cursive;
    color: white;
}

#button {
    width: 78px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 3px;
    margin: 15px auto 0px auto;
    cursor: pointer;
    box-shadow: 0px 3px 0px grey;
    -moz-box-shadow: 0px 3px 0px grey;
    -webkit-box-shadow: 0px 3px 0px grey;
    text-align: center;
/*    font-family: cursive;*/
    position: relative;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
}

#livesleft {
    width: 80px;
    padding: 10px;
    position: absolute;
    background-color: #F1FF92;
    border-radius: 3px;
    box-shadow: 0px 4px grey;
    -webkit-box-shadow: 0px 4px grey;
    -moz-box-shadow: 0px 4px grey;
    display: none;
}

#gameOver {
    height: 200px;
    width: 500px;
    background: linear-gradient(#F3CA6B, #F3706C);
    background: -webkit-linear-gradient(#F3CA6B, #F3706C);
    background: -moz-linear-gradient(#F3CA6B, #F3706C);
    background: -o-linear-gradient(#F3CA6B, #F3706C);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 180px;
    left: 145px;
    border-radius: 6px;
    z-index: 2;
    display: none;
}

.lives {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.fruits {
    display: none;
    position: absolute;
}



